# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/production/classes/
/Topics/Comments/Forms of comments/out/
/Topics/Comments/Forms of comments/out/production/classes/
/Topics/Comments/Hello, Java platform/out/
/Topics/Comments/Hello, Java platform/out/production/classes/
/Topics/Comments/Javadoc comment/out/
/Topics/Comments/Javadoc comment/out/production/classes/
/Topics/Comments/Select all correct comments/out/
/Topics/Comments/Select all correct comments/out/production/classes/
/Topics/Comments/Statements/out/
/Topics/Comments/Statements/out/production/classes/
/Topics/Comments/The forgotten comments/out/
/Topics/Comments/The forgotten comments/out/production/classes/
/Topics/Comments/Theory/out/
/Topics/Comments/Theory/out/production/classes/
/Topics/Comments/Uncomment a line/out/
/Topics/Comments/Uncomment a line/out/production/classes/
/Topics/Comments/What comments are not used in the program/out/
/Topics/Comments/What comments are not used in the program/out/production/classes/
/Topics/Conditional statement/A correct example/out/
/Topics/Conditional statement/A correct example/out/production/classes/
/Topics/Conditional statement/An output of the code/out/
/Topics/Conditional statement/An output of the code/out/production/classes/
/Topics/Conditional statement/Check a number is positive/out/
/Topics/Conditional statement/Check a number is positive/out/production/classes/
/Topics/Conditional statement/Determine the output/out/
/Topics/Conditional statement/Determine the output/out/production/classes/
/Topics/Conditional statement/Healthy sleep/out/
/Topics/Conditional statement/Healthy sleep/out/production/classes/
/Topics/Conditional statement/Symmetrical number/out/
/Topics/Conditional statement/Symmetrical number/out/production/classes/
/Topics/Conditional statement/The army of units/out/
/Topics/Conditional statement/The army of units/out/production/classes/
/Topics/Conditional statement/Theory/out/
/Topics/Conditional statement/Theory/out/production/classes/
/Topics/Conditional statement/Triangle/out/
/Topics/Conditional statement/Triangle/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Increment and decrement/Increasing a variable by one/out/
/Topics/Increment and decrement/Increasing a variable by one/out/production/classes/
/Topics/Increment and decrement/Theory/out/
/Topics/Increment and decrement/Theory/out/production/classes/
/Topics/Increment and decrement/What is the result/out/
/Topics/Increment and decrement/What is the result/out/production/classes/
/Topics/Increment and decrement/What is the result (1)/out/
/Topics/Increment and decrement/What is the result (1)/out/production/classes/
/Topics/Integer types and operations/Calculate the digit/out/
/Topics/Integer types and operations/Calculate the digit/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/Good rest on vacation/out/
/Topics/Integer types and operations/Good rest on vacation/out/production/classes/
/Topics/Integer types and operations/Reading integer numbers/out/
/Topics/Integer types and operations/Reading integer numbers/out/production/classes/
/Topics/Integer types and operations/Reversing/out/
/Topics/Integer types and operations/Reversing/out/production/classes/
/Topics/Integer types and operations/Snail/out/
/Topics/Integer types and operations/Snail/out/production/classes/
/Topics/Integer types and operations/Theory/out/
/Topics/Integer types and operations/Theory/out/production/classes/
/Topics/Printing data/Digits from 0 to 9 backwards/out/
/Topics/Printing data/Digits from 0 to 9 backwards/out/production/classes/
/Topics/Printing data/First, second, third/out/
/Topics/Printing data/First, second, third/out/production/classes/
/Topics/Printing data/From 0 to 4/out/
/Topics/Printing data/From 0 to 4/out/production/classes/
/Topics/Printing data/Printing a magic letter/out/
/Topics/Printing data/Printing a magic letter/out/production/classes/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/
/Topics/Printing data/The result of a Tic-Tac-Toe game/out/production/classes/
/Topics/Printing data/Theory/out/
/Topics/Printing data/Theory/out/production/classes/
/Topics/Printing data/What does the code print/out/
/Topics/Printing data/What does the code print/out/production/classes/
/Topics/Relational operators/Check the sum/out/
/Topics/Relational operators/Check the sum/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Check the value (1)/out/
/Topics/Relational operators/Check the value (1)/out/production/classes/
/Topics/Relational operators/Exactly one parameter is positive/out/
/Topics/Relational operators/Exactly one parameter is positive/out/production/classes/
/Topics/Relational operators/Existing operators/out/
/Topics/Relational operators/Existing operators/out/production/classes/
/Topics/Relational operators/Is between/out/
/Topics/Relational operators/Is between/out/production/classes/
/Topics/Relational operators/Possible values of a variable/out/
/Topics/Relational operators/Possible values of a variable/out/production/classes/
/Topics/Relational operators/The result is true/out/
/Topics/Relational operators/The result is true/out/production/classes/
/Topics/Relational operators/Theory/out/
/Topics/Relational operators/Theory/out/production/classes/
/Topics/Scanning the input/Guest list of a hotel/out/
/Topics/Scanning the input/Guest list of a hotel/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Scanning the input/Printing strings in the same order/out/
/Topics/Scanning the input/Printing strings in the same order/out/production/classes/
/Topics/Scanning the input/Reading a number/out/
/Topics/Scanning the input/Reading a number/out/production/classes/
/Topics/Scanning the input/Reading a single word/out/
/Topics/Scanning the input/Reading a single word/out/production/classes/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/
/Topics/Scanning the input/Understanding System.in/out/
/Topics/Scanning the input/Understanding System.in/out/production/classes/
/Topics/String/Check prefix ignoring the case/out/
/Topics/String/Check prefix ignoring the case/out/production/classes/
/Topics/String/Extracting a character/out/
/Topics/String/Extracting a character/out/production/classes/
/Topics/String/Finding string expressions/out/
/Topics/String/Finding string expressions/out/production/classes/
/Topics/String/Statements/out/
/Topics/String/Statements/out/production/classes/
/Topics/String/Theory/out/
/Topics/String/Theory/out/production/classes/
/Topics/The for-loop/Arithmetic average/out/
/Topics/The for-loop/Arithmetic average/out/production/classes/
/Topics/The for-loop/From sum to product/out/
/Topics/The for-loop/From sum to product/out/production/classes/
/Topics/The for-loop/Statements/out/
/Topics/The for-loop/Statements/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/
/Topics/The for-loop/Theory/out/
/Topics/The for-loop/Theory/out/production/classes/